.add-expense{
    max-width: 70rem;
    margin: auto auto 3.2rem;
    background-color: #404040;
    padding: 2rem;
}


.add-expense__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
}

.form-label{
    font-size: 1.8rem;
    line-height: 1.4;
    display: block;
}

.form-input{
    padding: 0.8rem;
    font-size: 1.4rem;
    width: 100%;
}

.button{
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    border: transparent;
}

.button--green{
    color: #ffffff;
    background-color: #22c55e;
}

.add-expense__button-control{
    display: flex;
    align-items: end;
    justify-content: end;
}
