.expenses {
  padding: 0.8rem 1.6rem;
  background-color: #404040;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  max-width: 60rem;
}
.expenses-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.expenses-header__title{
  font-size: 2rem;
  font-weight: 500;
}